.beer-process-container {
  padding: 0 4.2rem;
  display: flex;
  height: 40rem;
  justify-content: center;
  align-items: center;

  .info-img {
    padding: 0 2rem;

    .image {
      height: 25rem;
      width: 28rem;
      background-size: cover;
      background-position: center;
      margin: auto;
    }

    .one {
      background-image: url(../../static/1.png);
    }

    .two {
      background-image: url(../../static/2.png);
    }

    .three {
      background-image: url(../../static/3.png);
    }

    .four {
      background-image: url(../../static/4.png);
    }

    .five {
      background-image: url(../../static/5.png);
    }

    .info-title {
      color: #d15248;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 40px;
    }

    .info-text {
      @include normal-font(1.6rem, 400);
      font-style: normal;
      line-height: 18.75px;
    }
  }

  .lateral {
    align-self: baseline;
    
    padding-top: 2rem;

    .pasos {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
    }

    .number {
      @include normal-font(1.6rem, 500);
      background: #e9c969;
      border-radius: 50%;
      text-align: center;
      width: 3rem;
      height: 3rem;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .line-one {
      border: 0.5px solid #252424;
      position: absolute;
      height: 305.5px;
      width: 0px;
      left: 64px;
    }

    .line-two {
      border: 0.5px solid #252424;
      position: absolute;
      height: 305.5px;
      width: 0px;
      left: 64px;
    }

    .line-three {
      border: 0.5px solid #252424;
      position: absolute;
      height: 305.5px;
      width: 0px;
      left: 64px;
    }

    .line-four {
      border: 0.5px solid #252424;
      position: absolute;
      height: 305.5px;
      width: 0px;
      left: 64px;
    }

    .line-five {
      border: 0.5px solid #252424;
      position: absolute;
      height: 305.5px;
      width: 0px;
      left: 64px;
    }
  }
}

@media (max-width: 550px) {
  .beer-process-container {
    .info-img {
      .image {
        height: 155px;
        width: 155px;
        background-size: cover;
        background-position: center;
      }
    }
  }
}