@import "../base/typography";

.nav {
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: min(16.9rem, 10%);
  padding-right: min(16.9rem, 10%);
  position: sticky;
  top: 0;
  z-index: 3;
  .hamburguer-menu {
    display: none;
  }
  .logo {
    width: 19.2rem;
    height: 18.3rem;
  }
  .menu {
    display: inline-block;
    width: auto;
    ul {
      display: flex;
      align-items: center;
      list-style: none;
    }
  }
  .list-item {
    #basic-button {
      font-family: Jost;
      font-size: 1.8rem;
      text-transform: capitalize;
      font-style: normal;
      font-weight: 600;
      line-height: 35px;
      height: 35px;
      letter-spacing: 0.001rem;
      color: #37474f;
      margin: 0px 20px;
      cursor: pointer;
      &:hover{
        color: #246566;
      }
      p {
        text-transform: lowercase;
      }
    }
  }
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  width: 25rem !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 1.8rem !important;
  font-weight: 500 !important;
  &:hover{
    color: #246566 !important;
  }
  span {
    font-weight: 600 !important;
  }
}

@media (max-width: 950px) {
  .nav {
    padding: 0 2rem;
    .hamburguer-logo {
      display: flex;
      .hamburguer-menu {
        display: inline-block;
        position: static;
        font-size: 3rem;
      }
      .logo {
        width: 9rem;
        height: 8rem;
        margin-left: 27rem;
      }
    }

    .menuOpen {
      position: absolute;
      width: 29.8rem;
      height: 43.7rem;
      left: -1.6rem;
      top: 7.9rem;
      background: #ffffff;
      z-index: 2;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
      }

      .list-item {
        #basic-button {
          margin: 6.5px 0px;
          padding: 0;
        }
      }
    }

    .menuClose {
      display: none;
      ul {
        display: none;
      }
      .list-item {
        #basic-button {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .nav {
    padding: 0 1.64rem;
    .hamburguer-logo {
      display: flex;
      .hamburguer-menu {
        display: inline-block;
        position: static;
        font-size: 2.8rem;
      }
      .logo {
        width: 8.4rem;
        height: 7.4rem;
        margin-left: 100%;
      }
    }
  }
}
