@import "../base/typography";

.mySwiper {
  .slide-item {
    display: flex;
    padding: 47px 24px;
    width: 72.8rem;
    height: 248px;
    left: 0px;
    top: 0px;
    margin: 100px 0px;
    background: #ffffff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    .slide-item-img {
      display: inline-block;
      width: 50%;
      height: 154px;
    }
  }
  .one {
    margin-left: 191px;
  }
}
