@import "../base/typography";

.mySwiper {
  .slide-item {
    display: flex;
    padding: 47px 24px;
    width: 72.8rem;
    height: 248px;
    left: 0px;
    top: 0px;
    margin: 6rem 1rem 6rem 0;
    margin-right: 1rem !important;
    background: #ffffff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);

    .slide-item-img {
      display: inline-block;
      width: 200px;
      height: 170px;
      background-size: cover;
      background-position: center;
    }

    .one {
      background-image: url(../../static/1.png);
    }

    .two {
      background-image: url(../../static/2.png);
    }

    .three {
      background-image: url(../../static/3.png);
    }

    .four {
      background-image: url(../../static/4.png);
    }

    .five {
      background-image: url(../../static/5.png);
    }

  }

  .one {
    margin-left: 191px;
  }
}

.displayNone {
  display: none;
}