@import "../base/typography";

.main-container {
  .title {
    margin-top: 9.4rem;
    margin-left: 16.4rem;
    @include primary-font(6.4rem, 700);
  }

  .cards-container {
    height: 200rem;
    .white-one {
      position: absolute;
      width: 56.8rem;
      height: 25.4rem;
      left: 25vw;
      top: 44.8rem;

      background: #ffffff;
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);

      @include normal-font(2rem, 400);
      padding: 3.5rem 2.3rem 2.3rem 5.3rem;
      .white-element__title {
        @include normal-font(3rem, 600);
        margin-bottom: 1.5rem;
        line-height: 5rem;
      }
    }

    .grey-one {
      position: absolute;
      width: 43vw;
      height: 54.2rem;
      left: 49vw;
      top: 47.4rem;

      background-image: url(../../static/gery1.png);
      background-size: cover;
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    }

    .grey-two {
      position: absolute;
      width: 37vw;
      height: 78vh;
      left: 0px;
      top: 80.8rem;

      background-image: url(../../static/grey2.png);
      background-size: cover;
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    }

    .grey-three {
      position: absolute;
      width: 49.5vw;
      height: 40rem;
      left: 49vw;
      top: 110.4rem;

      background-image: url(../../static/grey4.png);
      background-size: cover;
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    }

    .white-two {
      position: absolute;
      width: 38.8vw;
      height: 19vw;
      left: 38.4416vw;
      top: 1186px;

      background: #ffffff;
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);

      @include normal-font(2.5rem, 400);
      padding: 3.5rem 2.3rem 2.3rem 5.3rem;
      .white-element__title-two {
        @include normal-font(3.2rem, 600);
        margin: 0rem 12rem 1.5rem 0rem;
        text-align: inherit;
      }
    }

    .grey-four {
      position: absolute;
      width: 82.3vw;
      height: 550px;
      left: 16vw;
      top: 1601px;

      background-image: url(../../static/grey3.png);
      background-size: cover;
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    }

    .white-three {
      position: absolute;
      width: 28vw;
      height: 404px;
      left: 16vw;
      top: 1671px;

      background: #ffffff;
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);

      @include normal-font(2.5rem, 400);
      padding: 3.5rem 2.3rem 2.3rem 5.3rem;
      .white-element__title {
        @include normal-font(3.2rem, 600);
        margin-bottom: 1.5rem;
      }
    }
  }

  .title-2 {
    width: 63.3rem;
    height: 18.4rem;
    text-align: center;
    @include primary-font(6.4rem, 500);
    letter-spacing: -0.5px;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .main-container {
    height: auto;
    width: 100%;
    .title {
      position: absolute;
      margin: 0 3.9rem;
      height: 128px;
      left: -3px;
      top: 88px;
      @include primary-font(3.9rem, 600);
      z-index: 1;
    }

    .cards-container {
      height: 155rem;
      .white-one {
        position: absolute;
        width: 29.8rem;
        height: 112px;
        left: 0px;
        top: 432px;

        @include normal-font(1rem, 400);
        padding: 1.5rem 0.4rem 2.2rem 1.6rem;
        .white-element__title {
          @include normal-font(1.4rem, 600);
          margin-bottom: 1rem;
          line-height: 0.5rem;
        }
      }

      .grey-one {
        position: absolute;
        width: 98%;
        height: 416px;
        left: -1px;
        top: 88px;
      }

      .grey-two {
        position: absolute;
        width: 98%;
        height: 328px;
        left: 0px;
        top: 600px;
      }

      .white-two {
        position: absolute;
        width: 29.8rem;
        height: 112px;
        left: 6rem;
        top: 872px;

        @include normal-font(1rem, 400);
        padding: 1.5rem 0.4rem 2.2rem 1.6rem;
        .white-element__title-two {
          @include normal-font(1.4rem, 600);
          margin-bottom: 1rem;
          line-height: 0.5rem;
          margin: 0 0 1rem;
        }
      }

      .grey-three {
        position: absolute;
        width: 98%;
        height: 464px;
        left: 0px;
        top: 1024px;
      }

      .white-three {
        position: absolute;
        width: 29.8rem;
        height: 114px;
        left: 0px;
        top: 1408px;

        @include normal-font(1rem, 400);
        padding: 1.5rem 0.4rem 2.2rem 1.6rem;
        .white-element__title {
          @include normal-font(1.4rem, 600);
          margin-bottom: 1rem;
          line-height: 0.5rem;
        }
      }

      .grey-four {
        display: none;
      }
    }

    .title-2 {
      width: 24.3rem;
      @include primary-font(3rem, 600);
    }
  }
}
