@import "../base/typography";

.description-photo {
    margin: 7rem 0;
    display: flex;
    justify-content: space-between;

    .description {
        width: 50%;
        padding: 0 7.6rem 0 16.5rem;

        .title {
            @include primary-font(6rem, 700);
            line-height: 72px;
            color: #D15248;
            margin-bottom: 2.6rem;
        }

        .subtitle {
            @include normal-font(3.6rem, 500);
            margin-bottom: 1rem;
        }

        .packs-name {
            @include normal-font(2rem, 500);
            margin-bottom: 1.6rem
        }

        .text {
            @include normal-font(2rem, 400);
            line-height: 2.8rem;
            margin-bottom: 1.5rem
        }

        .subtitle-three {
            @include normal-font(2.1rem, 700);
            margin-bottom: 1rem
        }

        .text-body {
            @include normal-font(2.1rem, 400);
            line-height: 3rem;

            span {
                @include normal-font(2.1rem, 700);
            }
        }

        hr {
            margin-top: 1.2rem;
            border: 1px solid #928E8E;
        }

        .text-body-porcent {
            @include normal-font(1.8rem, 500);
            margin-top: 1.2rem;
            letter-spacing: 1.25px;

            span {
                @include normal-font(1.8rem, 700);
                width: 10rem;
                display: inline-block;
            }
        }

        .precio {
            margin-top: 4rem;
            @include normal-font(1.8rem, 500);

            span {
                @include normal-font(1.8rem, 400);
            }
        }

        #button {
            width: 29rem;
            height: 4.8rem;
            background: #259193;
            border: 1px solid #259193;
            border-radius: 40px;
            padding: 16px 24px;
            color: #fff;
            @include normal-font(2.4rem, 500);
        }
    }

    .photo {
        width: 50%;
        max-width: 773px;
        height: 91.6rem;

        img {
            height: 91.6rem;
        }
    }
}

.title-2 {
    text-align: center;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
}

.mySwiper {
    margin: 6rem 0 6rem 16.8rem;
}

.product-cards-container-grid {
    margin-top: 6.7rem;
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    padding-left: 0.2rem;
}




@media (max-width: 900px) {
    .description-photo {
        flex-direction: column-reverse;

        .description {
            width: 100%;
            padding: 0 7.6rem 0 1.9rem;

        }

        .photo {
            width: 100%;
            height: 91.6rem;
            background-color: grey;
        }
    }

    .mySwiper {
        margin: 2rem 10rem;
    }

}


@media (max-width: 550px) {
    .description-photo {
        margin-top: 0;
        flex-direction: column-reverse;

        .description {
            width: 100%;
            padding: 0 7.6rem 0 1.9rem;

            .title {
                @include primary-font(5rem, 700);
            }

        }

        .photo {
            width: 100%;
            height: 91.6rem;
            background-color: grey;
        }
    }

    .mySwiper {
        margin: 6rem 8rem;
    }
}