:root {
    --nude-savia: #EEE9D4,
    --gris-savia: #928E8E,
    --rojo-savia: #D15248,
    --amarillo-savia: #E9C969,
    --negro-savia: #000000,
    --celeste-savia-oscuro: #259193,
    --celeste-savia-mas-oscuro-2: #246566
}