@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;600&display=swap');

.nav {
  display: flex;
  background: #E5E5E5;
  height: 140.5px;
}

.logo {
  position: absolute;
  width: 96px;
  height: 84px;
  left: 82px;
  top: 26.5px;
}

.menu {
  position: absolute;
  display: inline-block;
  left: 37.5%;
  top: 30.5px;
  width: auto;
}
ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.list-item {
  font-family: Jost;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  height: 35px;
  letter-spacing: 0.001em;
  color: #37474F;
  margin: 0px 40px;
  cursor: pointer;
}

