@import "typography";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 16.4rem;
  .logo {
    width: 19.2rem;
    height: 18.3rem;
  }
  .menu {
    display: inline-block;
    width: auto;
  }
  ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .list-item {
    @include primary-font(2.4rem, 600);
    font-style: normal;
    line-height: 35px;
    height: 35px;
    letter-spacing: 0.001em;
    color: #37474F;
    margin: 0px 40px;
    cursor: pointer;
  }
}




