@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;600&display=swap');

.nav {
  display: flex;
  background: white;
  padding: 2rem;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 19rem;
  height: 16rem;
}

.menu {
  display: inline-block;
  width: auto;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.list-item {
  font-family: Jost;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  height: 35px;
  letter-spacing: 0.001em;
  color: #37474F;
  margin: 0px 40px;
  cursor: pointer;
}

